@import '_varialbles.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
.active {
  color: red;
}
body {
  font-family: 'Futura PT';
  background-color: #E8E8E8;
  font-size: $font-text;
}
.wrapper {
  margin: 20px auto;
  max-width: 1140px;
  width: 100%;
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-areas:
  "a a "
  "b c"
  ;
  grid-template-columns: 173px 1fr;
  grid-template-rows: 65px 1fr;
  gap: 20px;
  .header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: a;
    width: 100%;
    background: $color-black;
    &__logo {
      width: 60px;
      height: 60px;
      margin-left: 25px;
    }
    &__settings {
      color: $color-grey;
      margin-right: 25px;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .aside {
    grid-area: b;
    background: $color-grey;
    border: 3px solid $color-black;
    max-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .best-friends {
      max-width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 auto 20px;
      .best-friend {
        max-width: 45%;
        img{
          border-radius: 50px;
        }
      }
    }
    &__list{
      margin: 9px 25px;
    }
    &__item-list{
      padding: 11px 0 14px 0;
      list-style: none;
      font-weight: 700;
      border-bottom: 3px solid $color-black;
    }
  }
  .main {
    position: relative;
    z-index: 1;
    grid-area: c;
    background: $color-grey;
    border: 3px solid $color-black;
    &__content{
      padding: 25px;
    }
    &__cover{
      display: flex;
      align-items: center;
      object-fit: cover;
      overflow: hidden;
      height: 170px;
    }
    &__posts{
      margin-top: 21px;
    }
    .profile{
      margin-top: 15px;
      display: flex;
      font-weight: 500;
      &__avatar{
        max-width: 170px;
        max-height: 170px;
        img {
          max-width: 100%;
        }
      }
      &__info{
        margin-left: 25px;
        p:not(:last-child){
          margin-bottom: 5px;
        }
      }
      &__name{
        display: inline-block;
        margin-bottom: 13px;
        font-size: $font-h1;
        padding: 6px 30px 8px;
        background-color: $color-black;
        color: $color-grey;
      }
    }
    .send{
      &__title{
        font-size: $font-h1;
        font-weight: 700;
        margin-bottom: 15px;
      }
      &__field{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        border: none;
        outline: none;
      }
      &__button{
        margin-top: 15px;
        margin-left: auto;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 120px;
        height: 40px;
        color: $color-black;
        font-family: "Futura PT";
        font-size: $font-text;
        font-weight: 700;
        border: 3px solid $color-black;
        background-color: #B5C3BA;
        &:hover{
          div{
            right: -5px;
            bottom: -5px;
          }
        }
        div{
          position: absolute;
          right: -10px;
          bottom: -10px;
          display: inline-block;
          width: 120px;
          height: 40px;
          z-index: -1;
          transition: all 0.5s ease ;
          background-color: $color-black;
        }
        .send__arrow{
          font-size: $font-h1;
        }
      }
    }
    .posts{
      &__item{
        display: flex;
        margin-top: 20px;
      }
      &__avatar{
        overflow: hidden;
        height: 77px;
        width: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          max-width: 200%;
        }
      }
      &__info{
        width: 100%;
        margin-left: 25px;
        border-right: 3px solid;
        border-bottom: 3px solid;
        padding-right: auto;
      }
      &__name{
        display: inline-block;
        padding: 5px 19px 6px 19px;
        font-weight: 700;
        color: $color-grey;
        background-color: $color-black;
      }
      &__text {
        margin: 7px 15px 13px 0;
      }
    }
  }

}

