@import '/src/_varialbles.scss';

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.dialogs {
    background: $color-grey;
    border: 3px solid $color-black;
    padding: 9px 25px;
}
.dialogs .item {
    padding: 11px 0 14px 11px;
    list-style: none;
    font-weight: 700;
    border-bottom: 3px solid $color-second;
}

.messages {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-end;
    position: relative;
    background: $color-grey;
    border: 3px solid $color-black;
    padding: 25px;
}


.messagesin {
    display: inline-block;
    background-color: $color-second;
    padding: 14px 20px 14px 20px;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}
.messagesout {
    display: inline-block;
    background-color: $color-second;
    padding: 14px 20px 14px 20px;
    margin-left: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}

.messagesin::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: $color-second;
    transform: rotate(45deg);
    bottom: -5px;
    z-index: -1;
    left: 15px;
}
.messagesout::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: $color-second;
    transform: rotate(45deg);
    bottom: -5px;
    z-index: -1;
    right: 15px;
}



